Repository AmbitionsXXXV/proxy_pingora: changes, and which lefthook commands are due for each by the changed paths.
All: check-byte-order-marker, check-merge-conflict, check-yaml, end-of-file-fixer, mixed-line-ending, trailing-whitespace, black, cargo-fmt, cargo-deny, cargo-check, cargo-clippy, cargo-test

check-byte-order-marker:
  run: '! grep -r $''ï»¿'' {staged_files}'

check-merge-conflict:
  run: '! grep -r ''^<<<<<<<\\|^=======\\|^>>>>>>>'' {staged_files}'

check-yaml:
  run: yamllint {staged_files}

end-of-file-fixer:
  run: for file in {staged_files}; do [ -f "$file" ] && tail -c1 "$file" | read -r || echo >> "$file"; done

mixed-line-ending:
  run: "! grep -r $'\r$' {staged_files}"

trailing-whitespace:
  run: '! grep -r ''[[:blank:]]$'' {staged_files}'

black:
  run: black --check {staged_files}

cargo-fmt:
  run: cargo fmt -- --check

cargo-deny:
  run: cargo deny check -d

cargo-check:
  run: cargo check --all

cargo-clippy:
  run: cargo clippy --all-targets --all-features --tests --benches -- -D warnings

cargo-test:
  run: cargo nextest run --all-features -- --include-ignored

feat: add user management server with CRUD operations
  .vscode/settings.json
  CHANGELOG.md
  Cargo.toml
  examples/server.rs
  specs/001-example-server.md
Due: check-byte-order-marker, check-merge-conflict, end-of-file-fixer, mixed-line-ending, trailing-whitespace, cargo-fmt, cargo-deny, cargo-check, cargo-clippy, cargo-test

chore: 修改 Cargo.toml 和 README.md 文件
  Cargo.toml
  README.md
Due: check-byte-order-marker, check-merge-conflict, end-of-file-fixer, mixed-line-ending, trailing-whitespace

feat: 添加 pingora 代理实现和相关依赖
  Cargo.toml
  README.md
  examples/server.rs
  examples/test.rest
  src/lib.rs
  src/main.rs
Due: check-byte-order-marker, check-merge-conflict, end-of-file-fixer, mixed-line-ending, trailing-whitespace, cargo-fmt, cargo-deny, cargo-check, cargo-clippy, cargo-test

feat: 更新依赖并增强代理功能
  Cargo.toml
  examples/server.rs
  src/lib.rs
Due: check-byte-order-marker, check-merge-conflict, end-of-file-fixer, mixed-line-ending, trailing-whitespace, cargo-fmt, cargo-deny, cargo-check, cargo-clippy, cargo-test

fix: 修改请求和响应头的插入逻辑
  src/lib.rs
Due: check-byte-order-marker, check-merge-conflict, end-of-file-fixer, mixed-line-ending, trailing-whitespace, cargo-fmt, cargo-deny, cargo-check, cargo-clippy, cargo-test

chore: ℹ️ Add new words to cSpell dictionary for VS Code settings
  .vscode/settings.json
Due: check-byte-order-marker, check-merge-conflict, end-of-file-fixer, mixed-line-ending, trailing-whitespace

feat: ✨ Add YAML config support with cert and server resolution
  Cargo.toml
  fixtures/sample.yaml
  src/conf/mod.rs
  src/conf/raw.rs
  src/conf/resolved.rs
  src/lib.rs
Due: check-byte-order-marker, check-merge-conflict, check-yaml, end-of-file-fixer, mixed-line-ending, trailing-whitespace, cargo-fmt, cargo-deny, cargo-check, cargo-clippy, cargo-test

Path conditions:
  check-byte-order-marker: any of: *.*
  check-merge-conflict: any of: *.*
  check-yaml: any of: *.{yaml,yml}
  end-of-file-fixer: any of: *.*
  mixed-line-ending: any of: *.*
  trailing-whitespace: any of: *.*
  black: any of: *.py
  cargo-fmt: any of: *.rs
  cargo-deny: any of: *.rs
  cargo-check: any of: *.rs
  cargo-clippy: any of: *.rs
  cargo-test: any of: *.rs
